<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- uncomment hvis du -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"> -->
    <script>
        // Function to close the message box
        function closeMessageBox() {
            document.getElementById('messageBox').style.display = 'none';
        }

        // Function to handle document click
        document.addEventListener('click', function(event) {
            var isClickInside = document.getElementById('messageBox').contains(event.target);

            if (!isClickInside) {
                closeMessageBox();
            }
        });

        // Prevent clicks inside the message box from closing it
        document.getElementById('messageBox').addEventListener('click', function(event) {
            event.stopPropagation(); // This prevents the click from propagating to the document
        });

    </script>
    <!-- <link rel="stylesheet" type="text/css" href="../static/layout.css"> -->
</head>
<body>
    <video autoplay muted loop id="myVideo">
        <source src="static/images/background.mp4" type="video/mp4">
    </video>
        <link rel="stylesheet" type="text/css" href="../static/login.css">
    <main role="main" class="container">
        <div class="home-container">
            <div>
                <a href="{{ url_for('Main.swipe') }}">
                    <button class="button" type="button">Swipe</button></a>
                    | 
                <a href="{{ url_for('Main.messages') }}">
                    <button class="button" type="button">Messages</button></a>
                    |
                <a href="{{ url_for('Main.settings') }}">
                    <button class="button" type="button">Settings and profile</button></a>
            </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div id="messageBox" class="message-box">
                <span class="close-btn" onclick="closeMessageBox()">&times;</span>
                <p>{{ message }}</p>
            </div>
            <!-- <div class="alert alert-{{ category }}">{{ message }}</div> -->
          {% endfor %}
        {% endif %}
        {% endwith %}
    {% block content %}{% endblock %} 
    
    <a href="{{ url_for('Login.logout') }}">
        <button class="button" type="button">Logout</button></a>
</div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
