{% extends "mainlayout.html" %}
{% block content %}
<body>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='messages.css') }}">
  <div id="chat-container">
    {% if chats %}
    {% for chat in chats %}
        <form action="{{ url_for('Main.goto_chat', personUserMatchedWith=(chat[0] if chat[0] != user else chat[1])) }}" method="get">
            <div class="chat-message" onclick="this.closest('form').submit()">
              <div class="profile-pic">
                <img src="{{ url_for('static', filename='images/placeholder.jpg') }}" alt="Profile Picture">
              </div>
              <div class="chat-info">
                <!-- show name -->
                <div class="match-name">{{ chat[4] }}</div>

                <!-- show msg -->
                {% if chat[3] %}
                  <div class="chat-text">{{ chat[3] }}</div>
                {% else %}
                  <div class="chat-text"></div>
                {% endif %}
              </div>
            </div>
        </form>
      {% endfor %}
    {% else %}
      <div class="no-matches">
        You have no matches
      </div>
    {% endif %}
  </div>
</body>
{% endblock %}
