{% extends "layout.html" %}
{% block content %}
<video autoplay muted loop id="myVideo">
    <source src="static/images/background.mp4" type="video/mp4">
</video>
    <link rel="stylesheet" type="text/css" href="../static/login.css">
        <div class="home-container">
            <div>
                <a href="{{ url_for('Main.swipe') }}">
                    <button class="button" type="button">Swipe</button></a>
                    | 
                <a href="{{ url_for('Main.messages') }}">
                    <button class="button" type="button">Messages</button></a>
                    |
                <a href="{{ url_for('Main.settings') }}">
                    <button class="button" type="button">Settings and profile</button></a>
            </div>
        </div>
</body>
{% endblock %}