{% extends "layout.html" %}
{% block content %}
<title>Login Page</title>
<video autoplay muted loop id="myVideo">
    <source src="static/images/background.mp4" type="video/mp4">
</video>

<body>
    <link rel="stylesheet" type="text/css" href="../static/login.css">
    <div class="login-container">
        <input type="text" placeholder="Username" id="username">
        <input type="password" placeholder="Password" id="password"> <br/>
        <button type="button" >Sign up</button> <br />
        <button class="button" type="button" onclick="location.href='{{url_for('Login.register')}}';">Register</button>
    </div>
</body>
{% endblock %}