{% extends "layout.html" %}
{% block content %}
<title>Login Page</title>
<video autoplay muted loop id="myVideo">
    <source src="static/images/background.mp4" type="video/mp4">
</video>

<body>
    <link rel="stylesheet" type="text/css" href="../static/login.css">
    <div class="login-container">
        <input type="text" placeholder="Username" id="username">
        <input type="password" placeholder="Password" id="password">
        <button type="button" >Sign up</button>
    </div>
</body>
{% endblock %}